{{ macros.section_header('SKILLS') }}
<p>
    <span class="skill"><b>BROADLY:</b></span><br>
    Data pipelines, web apps, ML/AI, NLP, LLMs, RAG, predictive analytics,
    statistical modeling, data visualization, storytelling.
</p>
<p>
    <span class="skill"><b>TECHNICALLY:</b></span><br>
    Python, R, SQL, Linux, AWS, Google Cloud, Docker, Git, CI/CD, REST APIs,
    testing, containerization.
</p>
<p>
    <span class="skill"><b>SPECIFICALLY:</b></span><br>
    Pandas, NumPy, Scikit-learn, PyTorch, Spark, SQLAlchemy, Elasticsearch,
    Plotly, Matplotlib, requests, BeautifulSoup, Selenium, SpaCy, HuggingFace,
    BERT, NLTK, prompt engineering, Flask, FastAPI, Poetry.
</p>
